
.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  
  background: linear-gradient(to bottom, #505050 20%, black);
  max-width: 700px;
  max-height: 500px;
  height: 100vh;
  width: 100vw;
  
  margin: 150px;
  padding: 20px;
  border: 1px solid #D1BE92;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

h1 {
  text-align: center;
  color: #ffffff;
}

hr {
  border: 1px solid #ccc;
  margin: 20px 0;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.container p{
text-align: justify;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f0f0f0;
}

.container button {
  width: 200px;
  align-items: center;
  
  background-color: #D1BE92;
  color: #000000;
  padding: 07px 20px;
  justify-content: center;  
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin-top as needed */
}
button:hover {
  background-color: #45a049;
}

.reset-btn,
.save-btn {
  background-color: #D1BE92;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin: 0 10px; /* Adjust the margin between buttons as needed */
}

.reset-btn:hover,
.save-btn:hover {
  background-color: #2980b9;
}

.next-button {
  
  display: flex;
justify-content: center;
  align-items: center;
}
.next-button button{
  color: black;
  width: 500px;
  height: 50px;
}
.index {
  margin-top: 15px;
  text-align: center;
  color: #666;
}
